*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

a{
    text-decoration: none;
}

body{
    background-color: bisque;
}


/* Home Page */

#container{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    height: 130px;
    line-height: 130px;
    background-color: bisque;
    padding-left: 30px;
}

#leftHeader{
    width: 300px;
}

#leftHeader h1{
    font-size: 36px;
}

#nav{
    text-align: right;
    width: 740px;
}


#nav li{
    padding: 7px;
    font-size: 20px;
}

#nav a:hover{
    color: hotpink;
}

#nav a{
    color: black;
}

#nav li {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(-100px);
    background: linear-gradient(132deg, hotpink, bisque);
    background-size: 100% 100%;
    animation: BackgroundGradient 30s ease infinite;
    border-radius: 50%;
}

#main{
    width: 1100px;
    background-image: url("../images/wedding-background.jpg");
    background-size: cover;
    position: relative;
    height: 530px;
    padding-bottom: 15px;
    clear: both;
}

#message{
    position: relative;
    font-family: Courier, serif;
    top: 140px;
    left: 330px;
}

#main h1{
    background: rgba(0,0,0,.3);
    width: 450px;
    height: 300px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 27px;
}

#email{
    padding: 15px;
    background: bisque;
    height: 50px;
}

#email h1{
    float: left;
}

#email form{
    float: right;
    margin-top: 15px;
}

#boxes{
    text-align: center;
    padding: 25px;
    background: bisque;
}

.box1{
    width: 50%;
}

.box2{
    width: 50%;
}

.box2 h2{
    padding-bottom: 20px;
}

h2 a{
    color: #000;
}

h2 a:hover{
    color: hotpink;
}

.box2 img{
    border-radius: 50%;
}

.clearFix{
    clear: both;
}

.displayInline{
    display: inline;
}

.floatLeft{
    float: left;
}

/* Testimonials Page */


#header2{
    height: 200px;
    line-height: 200px;
    background-color: bisque;

}

#header2 h1{
    width: 1100px;
    margin-left: 100px;
    font-size: 45px;
    text-decoration: underline;
}

#menu{
    width: 1000px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: bisque;
    padding-left: 100px;
}

#menu li{
    font-size: 25px;
    margin-right: 40px;
    padding: 8px;
}

#menu a:hover{
    color: hotpink;
}

#menu a{
    color: black;
}

#contentWrapper{
    background: bisque;
    height: 550px;
}

#contentLeft{
    width: 45%;
    background-color: bisque;
    padding-left: 100px;
    padding-top: 50px;
}

#contentLeft h1{
    font-size: 50px;
    padding-bottom: 10px;
    text-decoration: underline;
}

#contentLeft p{
    font-size: 17px;
}

#contentRight{
    width: 35%;
    padding-left: 90px;
    padding-top: 50px;
    background-color: bisque;
}

#contentRight img{
    border-radius: 50%;
}


@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


#menu li{
    position: relative;
    left: 0;
    top: 0;
    transform:  translate(-100px);
    background: linear-gradient(132deg, hotpink, bisque);
    background-size: 100% 100%;
    animation: BackgroundGradient 30s ease infinite;
    border-radius: 50%;
}

